body {
    color: white;
    background: black;
    font-family: "Roberto Condensed", sans-serif;
    margin: Opx;
}

header {
    border: solid 2px rgb(114, 17, 33);
    padding: 20px;
    font-size: 32px;
    color: rgb(114, 17, 33);
}

section {
    background: rgb(114, 17, 33);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify- content: center;
}


.chamada-texto {
    margin-right: 20px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}


